{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Email Sent</h2>
    <p class="text-center">We have sent you an email with instructions to reset your password. Please check your email.</p>
    <p class="text-center">If you haven't received the email, please check your "Spam" folder or try again.</p>
    <div class="text-center">
        <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
    </div>
</div>
{% endblock %}
